:root {
  --bg-color: #f5f5f5;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  background-color: var(--bg-color);
}

.ant-steps {
  flex-direction: row !important;
}

.ant-upload-picture-card-wrapper {
  width: auto;
}
